body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.index-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

p {
    font-size: 1.2em;
    color: #555;
}

.boton {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #2980b9;
}

.botones-container {
    margin-bottom: 20px;
}

.login-container, .calculadora-container {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

.calculadora-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.calculadora {
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#pantalla {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}

.boton-calculadora {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-calculadora:hover {
    background-color: #45a049;
}


.oculto {
    display: none;
}

#verTienda {
    background-color: #17a2b8;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#verTienda:hover {
    background-color: #138496;
}
