body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
}

.index-container h1 {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 20px;
}

.index-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.boton {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007bff;
}

.boton:hover {
    background-color: #0056b3;
}

#productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.imagen-producto {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.producto p {
    font-size: 1.1em;
    color: #555;
}

.boton-agregar {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.boton-agregar:hover {
    background-color: #218838;
}

#contadorCarrito {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#total {
    margin-top: 20px;
    font-size: 1.5em;
}

.boton-realizar-compra, .boton-vaciar-carrito {
    margin-top: 20px;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
}

.boton-realizar-compra:hover, .boton-vaciar-carrito:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #productos {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
